@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,424;1,424&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------  */

/* BODY */

body {
    font-family: "Noto Sans", sans-serif;
}

/* HEADER */

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    margin: 0;
    flex-grow: 1;
    font-weight: 400;
    text-align: center;
    padding: 25px;
}

.turnos-reservados-container button {
    position: absolute;
    right: 20px;
    top: 0;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: #3498db;
    color: rgb(252, 252, 252);
    border: none;
    border-bottom: 3px solid #00548c;
    cursor: pointer;
}

.turnos-reservados-container :hover {
    background: #00548c;
    border-bottom: 3px solid #3498db;
}

/* MODAL PARA VER TURNOS RESERVADOS  */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100vh;
    background: #fff;
    border-left: 1px solid black;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(0.28, 0.12, 0.64, 1.46);
    z-index: 200;
    overflow-y: auto;
}

.modal.active {
    transform: translateX(0);
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

.detalle-turnos {
    display: flex;
    padding: 7px;
    gap: 15px;
}

.hr {
    border-bottom: 1px solid black;
    width: 90%;
}

/* -------------------  */

/* FORMULARIO */

.getTurno,
.loggin {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto 0 auto;
}

.getTurno h2 {
    font-weight: 500;
    color: #2c3e50;
    margin-bottom: 10px;
}

.form-flex,
.registrarse,
.iniciar-sesion {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.label {
    padding: 10px;
}

.input,
.select {
    padding: 7px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(131, 131, 131);
}

.select:hover {
    cursor: pointer;
}

.input:focus {
    outline: none;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 92%, rgba(0, 178, 214, 1) 100%);
}

.btn {
    margin: 7px 0;
    padding: 10px;
    background-color: #3498db;
    color: rgb(252, 252, 252);
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #00548c;
}

.btn:hover {
    background-color: #00548c;
    border-bottom: 3px solid #3498db;
}

/* TURNOS DISPONIBLES */

.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.disable {
    display: none;
}

.title-turnos {
    font-weight: 500;
    padding: 25px 0;
    color: #2c3e50;
}

.table {
    width: 70%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.table tr {
    transition: transform ease-in-out .2s;
}

.table tr:hover {
    cursor: pointer;
    transform: translateX(15px);
}

.table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.msjError {
    padding: 3px;
    color: #d8231a;
    font-size: 13px;
    width: 300px;
}

/* TURNOS DISPONIBLES */

.flex-container {
    width: 800px;
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.28);
    border-radius: 15px;
}

.flex-item-especialidad {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.flex-item-medico {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: start;
}

.title-especificaciones {
    font-weight: 400;
    padding: 5px;
}

.turnos-btn>button {
    color: #f5f5f5;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.turnos-btn :nth-child(1) {
    background-color: #3498db;
}

.turnos-btn>button:nth-child(1):hover {
    cursor: pointer;
    outline: 2px solid #00548c;
}

.turnos-btn :nth-child(2) {
    background-color: #df524b;
}

.turnos-btn>button:nth-child(2):hover {
    cursor: pointer;
    outline: 2px solid #ff2323;
}

/* -------------------  */

.fixed {
    position: fixed;
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.static {
    position: static;
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    text-align: center;
    bottom: 0;
}